################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineLearning/.vs/OnlineLearning/CopilotIndices/17.14.1593.33849
/OnlineLearning/.vs/OnlineLearning/DesignTimeBuild/.dtbcache.v2
