USE [OnlineLearningPlatform]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 31-Mar-26 10:17:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[CertificateUrl] [nvarchar](500) NULL,
	[IssuedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[DiscountPercent] [int] NULL,
	[ExpiryDate] [date] NULL,
	[MaxUsage] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponTypes]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponTypes](
	[CouponTypeId] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponUsage]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponUsage](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CouponId] [int] NULL,
	[StudentId] [bigint] NULL,
	[UsedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseAttachments]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAttachments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseId] [bigint] NULL,
	[FileName] [nvarchar](200) NULL,
	[FileUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCategories]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
	[ParentCategoryId] [int] NULL,
	[IsParent] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__CourseCa__19093A0BB722761A] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseEnrollment]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEnrollment](
	[EnrollmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[EnrollDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseLevels]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseLevels](
	[LevelId] [int] NOT NULL,
	[LevelName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseTitle] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[InstructorId] [bigint] NULL,
	[Price] [decimal](10, 2) NULL,
	[Thumbnail] [nvarchar](300) NULL,
	[Language] [nvarchar](50) NULL,
	[Level] [nvarchar](50) NULL,
	[IsPublished] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSections]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSections](
	[SectionId] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseId] [bigint] NULL,
	[SectionTitle] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseVideos]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseVideos](
	[VideoId] [bigint] IDENTITY(1,1) NOT NULL,
	[SectionId] [bigint] NULL,
	[Title] [nvarchar](200) NULL,
	[VideoUrl] [nvarchar](500) NULL,
	[Duration] [int] NULL,
	[IsDemo] [bit] NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DifficultyLevels]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DifficultyLevels](
	[DifficultyId] [int] NOT NULL,
	[DifficultyName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DifficultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorDb]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorDb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ErrorNumber] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorProcedure] [nvarchar](200) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ErrorDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenderMaster]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderMaster](
	[GenderId] [int] NOT NULL,
	[GenderName] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorProfile]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorProfile](
	[InstructorId] [bigint] NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[ExperienceYears] [int] NULL,
	[ProfileImage] [nvarchar](300) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] NOT NULL,
	[LanguageName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leaderboard]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaderboard](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[Score] [int] NULL,
	[Rank] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTypes]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTypes](
	[TypeId] [int] NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[SubscriptionId] [bigint] NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentGateway] [nvarchar](100) NULL,
	[TransactionId] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[StatusId] [int] NOT NULL,
	[StatusName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PQJ_AttemptAnswers]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PQJ_AttemptAnswers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AttemptId] [bigint] NULL,
	[QuestionId] [bigint] NULL,
	[SelectedOptionId] [bigint] NULL,
	[IsCorrect] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PQJ_Attempts]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PQJ_Attempts](
	[AttemptId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[AttemptDate] [datetime] NULL,
	[Score] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PQJ_Options]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PQJ_Options](
	[OptionId] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionId] [bigint] NULL,
	[OptionText] [nvarchar](300) NULL,
	[IsCorrect] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PQJ_Questions]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PQJ_Questions](
	[QuestionId] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseId] [bigint] NULL,
	[QuestionText] [nvarchar](max) NULL,
	[DifficultyLevel] [nvarchar](50) NULL,
	[Marks] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentNotifications]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentNotifications](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[NotificationId] [bigint] NULL,
	[IsRead] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfile]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfile](
	[StudentId] [bigint] NOT NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](300) NULL,
	[ProfileImage] [nvarchar](300) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubscriptions]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubscriptions](
	[SubscriptionId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[PlanId] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[PlanId] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[DurationDays] [int] NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionStatus]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionStatus](
	[StatusId] [int] NOT NULL,
	[StatusName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Mobile] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[RoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoProgress]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoProgress](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[VideoId] [bigint] NULL,
	[WatchTime] [int] NULL,
	[Completed] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CouponTypes] ([CouponTypeId], [TypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Percentage Discount', 1, 0, NULL, CAST(N'2026-03-09T16:37:18.903' AS DateTime), NULL, NULL)
INSERT [dbo].[CouponTypes] ([CouponTypeId], [TypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Fixed Amount', 1, 0, NULL, CAST(N'2026-03-09T16:37:18.903' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CourseCategories] ON 

INSERT [dbo].[CourseCategories] ([CategoryId], [CategoryName], [ParentCategoryId], [IsParent], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Programming', NULL, 1, 1, 0, 2, CAST(N'2026-03-29T13:45:32.493' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseCategories] ([CategoryId], [CategoryName], [ParentCategoryId], [IsParent], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Design', NULL, 1, 1, 0, 2, CAST(N'2026-03-29T13:45:32.497' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseCategories] ([CategoryId], [CategoryName], [ParentCategoryId], [IsParent], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (4, N'Business', NULL, 1, 1, 0, 2, CAST(N'2026-03-29T13:45:32.500' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CourseCategories] OFF
GO
INSERT [dbo].[CourseLevels] ([LevelId], [LevelName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Beginner', 1, 0, NULL, CAST(N'2026-03-09T16:35:00.367' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseLevels] ([LevelId], [LevelName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Intermediate', 1, 0, NULL, CAST(N'2026-03-09T16:35:00.367' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseLevels] ([LevelId], [LevelName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Advanced', 1, 0, NULL, CAST(N'2026-03-09T16:35:00.367' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseTitle], [Description], [CategoryId], [InstructorId], [Price], [Thumbnail], [Language], [Level], [IsPublished], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (10002, N'ASP.NET Core Mastery', N'Learn ASP.NET Core from scratch', 2, 1, CAST(499.00 AS Decimal(10, 2)), NULL, N'English', N'2', 1, 1, 0, 1, CAST(N'2026-03-30T23:24:14.250' AS DateTime), NULL, NULL)
INSERT [dbo].[Courses] ([CourseId], [CourseTitle], [Description], [CategoryId], [InstructorId], [Price], [Thumbnail], [Language], [Level], [IsPublished], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (10003, N'React JS Complete Guide', N'Frontend development with React', 2, 1, CAST(399.00 AS Decimal(10, 2)), NULL, N'English', N'2', 1, 1, 0, 1, CAST(N'2026-03-30T23:24:14.250' AS DateTime), NULL, NULL)
INSERT [dbo].[Courses] ([CourseId], [CourseTitle], [Description], [CategoryId], [InstructorId], [Price], [Thumbnail], [Language], [Level], [IsPublished], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (10004, N'Python for Beginners', N'Start coding in Python easily', 2, 1, CAST(199.00 AS Decimal(10, 2)), NULL, N'English', N'1', 1, 1, 0, 1, CAST(N'2026-03-30T23:24:14.250' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseSections] ON 

INSERT [dbo].[CourseSections] ([SectionId], [CourseId], [SectionTitle], [SortOrder], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (11, 10002, N'Introduction', 1, 1, 0, 1, CAST(N'2026-03-30T23:25:09.840' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseSections] ([SectionId], [CourseId], [SectionTitle], [SortOrder], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (12, 10002, N'Getting Started', 2, 1, 0, 1, CAST(N'2026-03-30T23:25:09.840' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseSections] ([SectionId], [CourseId], [SectionTitle], [SortOrder], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (13, 10007, N'Basics Concepts', 4, 1, 0, 1, CAST(N'2026-03-30T23:25:09.840' AS DateTime), 2, CAST(N'2026-03-30T23:45:52.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[CourseSections] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseVideos] ON 

INSERT [dbo].[CourseVideos] ([VideoId], [SectionId], [Title], [VideoUrl], [Duration], [IsDemo], [SortOrder], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, 18, N'basic', N'sad', 5, 0, 7, 1, 0, 2, CAST(N'2026-03-31T00:27:36.133' AS DateTime), NULL, NULL)
INSERT [dbo].[CourseVideos] ([VideoId], [SectionId], [Title], [VideoUrl], [Duration], [IsDemo], [SortOrder], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, 14, N'basic', N'sad', 5, 1, 7, 1, 0, 2, CAST(N'2026-03-31T00:27:48.250' AS DateTime), 2, CAST(N'2026-03-31T00:28:16.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[CourseVideos] OFF
GO
INSERT [dbo].[DifficultyLevels] ([DifficultyId], [DifficultyName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Easy', 1, 0, NULL, CAST(N'2026-03-09T16:35:43.193' AS DateTime), NULL, NULL)
INSERT [dbo].[DifficultyLevels] ([DifficultyId], [DifficultyName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Medium', 1, 0, NULL, CAST(N'2026-03-09T16:35:43.193' AS DateTime), NULL, NULL)
INSERT [dbo].[DifficultyLevels] ([DifficultyId], [DifficultyName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Hard', 1, 0, NULL, CAST(N'2026-03-09T16:35:43.193' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ErrorDb] ON 

INSERT [dbo].[ErrorDb] ([Id], [ErrorNumber], [ErrorSeverity], [ErrorState], [ErrorLine], [ErrorProcedure], [ErrorMessage], [ErrorDate]) VALUES (1, 8114, 16, 5, 47, N'sp_Course', N'Error converting data type nvarchar to bigint.', CAST(N'2026-03-29T13:10:49.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[ErrorDb] OFF
GO
INSERT [dbo].[GenderMaster] ([GenderId], [GenderName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Male', 1, 0, NULL, CAST(N'2026-03-09T16:34:37.640' AS DateTime), NULL, NULL)
INSERT [dbo].[GenderMaster] ([GenderId], [GenderName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Female', 1, 0, NULL, CAST(N'2026-03-09T16:34:37.640' AS DateTime), NULL, NULL)
INSERT [dbo].[GenderMaster] ([GenderId], [GenderName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Other', 1, 0, NULL, CAST(N'2026-03-09T16:34:37.640' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Languages] ([LanguageId], [LanguageName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'English', 1, 0, NULL, CAST(N'2026-03-09T16:35:20.573' AS DateTime), NULL, NULL)
INSERT [dbo].[Languages] ([LanguageId], [LanguageName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Hindi', 1, 0, NULL, CAST(N'2026-03-09T16:35:20.573' AS DateTime), NULL, NULL)
INSERT [dbo].[Languages] ([LanguageId], [LanguageName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Hinglish', 1, 0, NULL, CAST(N'2026-03-09T16:35:20.573' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[NotificationTypes] ([TypeId], [TypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'General', 1, 0, NULL, CAST(N'2026-03-09T16:36:55.350' AS DateTime), NULL, NULL)
INSERT [dbo].[NotificationTypes] ([TypeId], [TypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Course Update', 1, 0, NULL, CAST(N'2026-03-09T16:36:55.350' AS DateTime), NULL, NULL)
INSERT [dbo].[NotificationTypes] ([TypeId], [TypeName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Offer', 1, 0, NULL, CAST(N'2026-03-09T16:36:55.350' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[PaymentStatus] ([StatusId], [StatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Pending', 1, 0, NULL, CAST(N'2026-03-09T16:36:06.330' AS DateTime), NULL, NULL)
INSERT [dbo].[PaymentStatus] ([StatusId], [StatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Success', 1, 0, NULL, CAST(N'2026-03-09T16:36:06.330' AS DateTime), NULL, NULL)
INSERT [dbo].[PaymentStatus] ([StatusId], [StatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Failed', 1, 0, NULL, CAST(N'2026-03-09T16:36:06.330' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Admin', 1, 0, NULL, CAST(N'2026-03-09T16:34:19.380' AS DateTime), NULL, NULL)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Student', 1, 0, NULL, CAST(N'2026-03-09T16:34:19.380' AS DateTime), NULL, NULL)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Instructor', 1, 0, NULL, CAST(N'2026-03-09T16:34:19.380' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SubscriptionStatus] ([StatusId], [StatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Active', 1, 0, NULL, CAST(N'2026-03-09T16:36:30.910' AS DateTime), NULL, NULL)
INSERT [dbo].[SubscriptionStatus] ([StatusId], [StatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Expired', 1, 0, NULL, CAST(N'2026-03-09T16:36:30.910' AS DateTime), NULL, NULL)
INSERT [dbo].[SubscriptionStatus] ([StatusId], [StatusName], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Cancelled', 1, 0, NULL, CAST(N'2026-03-09T16:36:30.910' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Mobile], [PasswordHash], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Admin User', N'admin@mla.com', N'9999999999', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', 1, 1, 0, NULL, CAST(N'2026-03-27T22:04:34.103' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E4EB0B7C]    Script Date: 31-Mar-26 10:17:27 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CouponTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CouponTypes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CouponTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CouponUsage] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CouponUsage] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CouponUsage] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseAttachments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseAttachments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CourseAttachments] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseCategories] ADD  CONSTRAINT [DF__CourseCat__IsAct__5070F446]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseCategories] ADD  CONSTRAINT [DF__CourseCat__IsDel__5165187F]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CourseCategories] ADD  CONSTRAINT [DF__CourseCat__Creat__52593CB8]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseEnrollment] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseEnrollment] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CourseEnrollment] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseLevels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseLevels] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CourseLevels] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseSections] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseSections] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CourseSections] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseVideos] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseVideos] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CourseVideos] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[DifficultyLevels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DifficultyLevels] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DifficultyLevels] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ErrorDb] ADD  DEFAULT (getdate()) FOR [ErrorDate]
GO
ALTER TABLE [dbo].[GenderMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GenderMaster] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[GenderMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[InstructorProfile] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InstructorProfile] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[InstructorProfile] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Leaderboard] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Leaderboard] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Leaderboard] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[NotificationTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotificationTypes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[NotificationTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaymentStatus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentStatus] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PaymentStatus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PQJ_AttemptAnswers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PQJ_AttemptAnswers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PQJ_AttemptAnswers] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PQJ_Attempts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PQJ_Attempts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PQJ_Attempts] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PQJ_Options] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PQJ_Options] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PQJ_Options] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PQJ_Questions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PQJ_Questions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PQJ_Questions] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[StudentNotifications] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentNotifications] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StudentNotifications] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[StudentProfile] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentProfile] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StudentProfile] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[StudentSubscriptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentSubscriptions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StudentSubscriptions] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SubscriptionStatus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubscriptionStatus] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubscriptionStatus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[VideoProgress] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VideoProgress] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VideoProgress] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  StoredProcedure [dbo].[sp_Course]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Course]
(
    @Action NVARCHAR(20),
    @CourseId INT = NULL,
    @CourseTitle NVARCHAR(200) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @CategoryId INT = NULL,
    @InstructorId INT = NULL,
    @Price DECIMAL(10,2) = NULL,
    @Thumbnail NVARCHAR(500) = NULL,
    @Language NVARCHAR(50) = NULL,
    @Level INT = NULL,
    @IsPublished BIT = NULL,
    @IsActive BIT = NULL,
    @CreatedBy NVARCHAR(100) = NULL,
    @UpdatedBy NVARCHAR(100) = NULL
)
AS
BEGIN try
    IF(@Action = 'GET_ALL')
    BEGIN
        SELECT CourseId,CourseTitle  FROM Courses WHERE IsDeleted = 0
    END 
     
   ELSE IF(@Action = 'GET_ALL_DETAILS')
   BEGIN
       SELECT 
           c.*, 
           cat.CategoryName, 
           lvl.LevelName
       FROM Courses c
         JOIN CourseCategories cat ON c.CategoryId = cat.CategoryId
         JOIN CourseLevels lvl ON c.Level = lvl.LevelId
        WHERE c.IsDeleted = 0
   END

    ELSE IF(@Action = 'GET_BY_ID')
    BEGIN
        SELECT CourseId,CourseTitle,Description,CategoryId,InstructorId,Price,Thumbnail,Language,Level,IsPublished,IsActive FROM Courses 
        WHERE CourseId = @CourseId --AND IsDeleted = 0
    END
     
    ELSE IF(@Action = 'INSERT')
    BEGIN
        INSERT INTO Courses
        (CourseTitle, Description, CategoryId, InstructorId, Price, Thumbnail, Language, Level,
         IsPublished, IsActive, IsDeleted, CreatedBy, CreatedOn)
        VALUES
        (@CourseTitle, @Description, @CategoryId, @InstructorId, @Price, @Thumbnail, @Language, @Level,
         @IsPublished, @IsActive, 0, @CreatedBy, GETDATE())
    END

     
    ELSE IF(@Action = 'UPDATE')
    BEGIN
        UPDATE Courses SET
            CourseTitle = @CourseTitle,
            Description = @Description,
            CategoryId = @CategoryId,
            InstructorId = @InstructorId,
            Price = @Price,
            Thumbnail = @Thumbnail,
            Language = @Language,
            Level = @Level,
            IsPublished = @IsPublished,
            IsActive = @IsActive,
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE CourseId = @CourseId
    END

     
    ELSE IF(@Action = 'DELETE')
    BEGIN
        UPDATE Courses 
        SET IsDeleted = 1, UpdatedOn = GETDATE()
        WHERE CourseId = @CourseId
    END


END TRY
BEGIN CATCH 
	 IF @@TRANCOUNT > 0
		 ROLLBACK TRANSACTION 
		 EXECUTE usp_ErrorDB
		 SELECT 3,'Error in saving data'
 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_CourseCategory]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CourseCategory]
(
    @Action NVARCHAR(20), 
    @CategoryId INT = NULL,
    @CategoryName  nvarchar(200)=null,
    @ParentCategoryId  INT = NULL, 
    @IsActive BIT = NULL,
    @IsParent BIT=null,
    @IsDelete BIT=null,
    @CreatedBy NVARCHAR(100) = NULL,
    @UpdatedBy NVARCHAR(100) = NULL
)
AS
BEGIN try
    IF(@Action = 'GET_ALL')
    BEGIN
        SELECT CategoryId,CategoryName,ParentCategoryId,IsParent FROM CourseCategories WHERE IsDeleted = 0
    END  
    ELSE IF(@Action = 'GET_ALL_DETAILS')
    BEGIN
       SELECT   cat.CategoryId,   cat.CategoryName,  ISNULL(cp.CategoryName, ' ') AS ParentCategoryName,cat.IsParent , cat.IsActive
          FROM CourseCategories cat
              LEFT JOIN CourseCategories cp   ON cat.ParentCategoryId = cp.CategoryId
         --WHERE cat.IsDeleted = 0
    END
    ELSE IF(@Action = 'GET_BY_ID')
    BEGIN
        SELECT CategoryId,CategoryName,ParentCategoryId,IsActive,IsParent FROM CourseCategories 
        WHERE CategoryId = @CategoryId AND IsDeleted = 0
    END
     
    ELSE IF(@Action = 'INSERT')
    BEGIN
        INSERT INTO CourseCategories
        (CategoryName, ParentCategoryId,IsParent, IsActive, IsDeleted, CreatedBy, CreatedOn)
        VALUES
        (@CategoryName , @ParentCategoryId,@IsParent , @IsActive, 0, @CreatedBy, GETDATE())
    END

     
    ELSE IF(@Action = 'UPDATE')
    BEGIN
        UPDATE CourseCategories SET
            CategoryName=@CategoryName ,
            ParentCategoryId=@ParentCategoryId ,
            IsActive = @IsActive,
            IsParent=@IsParent,
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE CategoryId = @CategoryId
    END

     
    ELSE IF(@Action = 'DELETE')
    BEGIN
        UPDATE CourseCategories 
        SET IsDeleted = 1, UpdatedOn = GETDATE()
        WHERE CategoryId = @CategoryId
    END


END TRY
BEGIN CATCH 
	 IF @@TRANCOUNT > 0
		 ROLLBACK TRANSACTION 
		 EXECUTE usp_ErrorDB
		 SELECT 3,'Error in saving data'
 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_CourseLevel]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CourseLevel]
(
    @Action NVARCHAR(20), 
    @LevelId INT = NULL,
    @LevelName nvarchar(200)=null, 
    @IsActive BIT = NULL,
    @IsDelete BIT=null,
    @CreatedBy int = NULL,
    @UpdatedBy int = NULL
)
AS
BEGIN try
    IF(@Action = 'GET_ALL')
    BEGIN
        SELECT LevelId,LevelName FROM CourseLevels WHERE IsDeleted = 0
    END  

    ELSE IF(@Action = 'GET_BY_ID')
    BEGIN
        SELECT * FROM CourseLevels 
        WHERE LevelId = @LevelId AND IsDeleted = 0
    END
     
    ELSE IF(@Action = 'INSERT')
    BEGIN
        INSERT INTO CourseLevels
        (LevelName,IsActive, IsDeleted, CreatedBy, CreatedOn)
        VALUES
        (@LevelName,@IsActive, 0, @CreatedBy, GETDATE())
    END

     
    ELSE IF(@Action = 'UPDATE')
    BEGIN
        UPDATE CourseLevels SET
            LevelName=@LevelName ,
            IsActive = @IsActive,
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE LevelId = @LevelId
    END

     
    ELSE IF(@Action = 'DELETE')
    BEGIN
        UPDATE CourseLevels 
        SET IsDeleted = 1, UpdatedOn = GETDATE()
        WHERE LevelId = @LevelId
    END


END TRY
BEGIN CATCH 
	 IF @@TRANCOUNT > 0
		 ROLLBACK TRANSACTION 
		 EXECUTE usp_ErrorDB
		 SELECT 3,'Error in saving data'
 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_CourseSection]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CourseSection]
(
    @Action NVARCHAR(20), 
    @SectionId INT = NULL,
    @SectionTitle nvarchar(200)=null,
    @SortOrder  nvarchar(200) = NULL, 
    @CourseId int=null,
    @IsActive BIT = NULL, 
    @IsDelete BIT=null,
    @CreatedBy int = NULL,
    @UpdatedBy int = NULL
)
AS
BEGIN try
    IF(@Action = 'GET_ALL')
    BEGIN
        SELECT SectionId,SectionTitle  FROM CourseSections WHERE IsDeleted = 0
    END  
    ELSE IF(@Action = 'GET_ALL_DETAILS')
    BEGIN
       SELECT   cs.SectionId,   cs.SectionTitle,cs.SortOrder , ISNULL(c.CourseTitle, ' ') AS CourseName,cs.IsActive
          FROM CourseSections cs
              LEFT JOIN Courses c   ON cs.CourseId = c.CourseId
         --WHERE cat.IsDeleted = 0
    END
    ELSE IF(@Action = 'GET_BY_ID')
    BEGIN
        SELECT SectionId,SectionTitle,SortOrder,CourseId,IsActive FROM CourseSections 
        WHERE SectionId = @SectionId --AND IsDeleted = 0
    END
     
    ELSE IF(@Action = 'INSERT')
    BEGIN
        INSERT INTO CourseSections
        (SectionTitle, SortOrder,CourseId, IsActive, IsDeleted, CreatedBy, CreatedOn)
        VALUES
        (@SectionTitle , @SortOrder,@CourseId , @IsActive, 0, @CreatedBy, GETDATE())
    END

     
    ELSE IF(@Action = 'UPDATE')
    BEGIN
        UPDATE CourseSections SET
            SectionTitle=@SectionTitle ,
            SortOrder=@SortOrder ,
            IsActive = @IsActive,
            CourseId=@CourseId,
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE SectionId = @SectionId
    END

     
    ELSE IF(@Action = 'DELETE')
    BEGIN
        UPDATE CourseSections 
        SET IsDeleted = 1, UpdatedOn = GETDATE()
        WHERE SectionId = @SectionId
    END


END TRY
BEGIN CATCH 
	 IF @@TRANCOUNT > 0
		 ROLLBACK TRANSACTION 
		 EXECUTE usp_ErrorDB
		 SELECT 3,'Error in saving data'
 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_CourseVideo]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CourseVideo]
(
    @Action NVARCHAR(20), 
    @VideoId int=null,
    @SectionId INT = NULL,
    @Title nvarchar(200)=null,
    @VideoUrl nvarchar(500)=null,
    @Duration int=null,
    @IsDemo bit=null,
    @SortOrder  int = NULL, 
    @IsActive BIT = NULL, 
    @IsDelete BIT=null,
    @CreatedBy int = NULL,
    @UpdatedBy int = NULL
)
AS
BEGIN try
    IF(@Action = 'GET_ALL')
    BEGIN
        SELECT VideoId,Title  FROM CourseVideos WHERE IsDeleted = 0
    END  
    ELSE IF(@Action = 'GET_ALL_DETAILS')
    BEGIN
       SELECT   cv.VideoId,   cv.Title,cv.SortOrder , ISNULL(c.SectionTitle, ' ') AS SectionName,cv.VideoUrl,cv.Duration,cv.IsDemo,cv.IsActive
          FROM CourseVideos cv
              LEFT JOIN CourseSections c  ON cv.SectionId = c.SectionId
         --WHERE cat.IsDeleted = 0
    END
    ELSE IF(@Action = 'GET_BY_ID')
    BEGIN
        SELECT VideoId,Title,SortOrder,SectionId,VideoUrl,Duration,IsDemo,IsActive FROM CourseVideos 
        WHERE VideoId = @VideoId --AND IsDeleted = 0
    END
     
    ELSE IF(@Action = 'INSERT')
    BEGIN
        INSERT INTO CourseVideos
        (Title,SortOrder,SectionId,IsActive,VideoUrl,Duration,IsDemo, IsDeleted, CreatedBy, CreatedOn)
        VALUES
        (@Title ,@SortOrder,@SectionId,@IsActive,@VideoUrl,@Duration,@IsDemo, 0, @CreatedBy, GETDATE())
    END

     
    ELSE IF(@Action = 'UPDATE')
    BEGIN
        UPDATE CourseVideos SET
            Title=@Title ,
            SortOrder=@SortOrder ,
            SectionId=@SectionId,
            IsActive = @IsActive,
            VideoUrl=@VideoUrl,
            Duration=@Duration,
            IsDemo=@IsDemo,            
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE VideoId = @VideoId
    END

     
    ELSE IF(@Action = 'DELETE')
    BEGIN
        UPDATE CourseVideos 
        SET IsDeleted = 1, UpdatedOn = GETDATE()
        WHERE VideoId = @VideoId
    END


END TRY
BEGIN CATCH 
	 IF @@TRANCOUNT > 0
		 ROLLBACK TRANSACTION 
		 EXECUTE usp_ErrorDB
		 SELECT 3,'Error in saving data'
 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserLogin]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 *
    FROM Users
    WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ErrorDB]    Script Date: 31-Mar-26 10:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[usp_ErrorDB] 
	as 
BEGIN TRY
        INSERT INTO ErrorDb
        (
            ErrorNumber,
            ErrorSeverity,
            ErrorState,
            ErrorLine,
            ErrorProcedure,
            ErrorMessage,
            ErrorDate
        )
        SELECT 
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_LINE(),
            ERROR_PROCEDURE(),
            ERROR_MESSAGE(),
            GETDATE();
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 3, 'Error in saving data';
    END CATCH


GO
